---
import { getCollection } from "astro:content";
import CategoryList from "../../components/CategoryList.astro";
import H1 from "../../components/H1.astro";
import Main from "../../components/Main.astro";
import PostList from "../../components/PostList.astro";
import Layout from "../../layouts/Layout.astro";

const category = Astro.params.slug as string;
const allPosts = await getCollection("posts");
const posts = allPosts.filter((post) =>
  post.data.categories.includes(category)
);
---

<Layout
  title="Blog - Rhythm Nation"
  description="Read and learn from Music Producers and Enthusiasts"
>
  <Main>
    <a href="/blog" class="text-zinc-500 text-2xl mb-16 underline block"
      >Back to all blogs</a
    >
    <H1 text="Rhythm Nation Blog" />
    <p class="text-zinc-900 text-2xl mb-24 max-sm:mb-14">
      Join the community and learn from Music Producers and Enthusiasts
    </p>

    <CategoryList categories={[category]} title="Posts tagged" />
    {
      posts.length === 0 ? (
        <p>No posts were found with that tag.</p>
      ) : (
        <PostList posts={posts} />
      )
    }
  </Main>
</Layout>
