---
import { GetStaticPathsOptions, Page } from "astro";
import { CollectionEntry, getCollection } from "astro:content";
import H1 from "../../components/H1.astro";
import Main from "../../components/Main.astro";
import PostList from "../../components/PostList.astro";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const allPosts = await getCollection("posts");
  return paginate(allPosts, { pageSize: 6 });
}

type Props = {
  page: Page<CollectionEntry<"posts">>;
};

const { page } = Astro.props;
console.log(page);
const posts = page.data;
---

<Layout title="Blog - Astro Course">
  <Main>
    <H1 text="Rhythm Nation Blog" />
    <p class="text-zinc-900 text-2xl mb-24 max-sm:mb-14">
      Join the community and learn from Music Producers and Enthusiasts
    </p>
    <PostList posts={posts} />
  </Main>
</Layout>
