---
import H1 from "../components/H1.astro";
import Main from "../components/Main.astro";
import Layout from "../layouts/Layout.astro";
import { XataClient } from "../xata";
import bcrypt from "bcryptjs";

const errors: Record<string, string> = {};

if (Astro.request.method === "POST") {
  const xata = new XataClient({ apiKey: import.meta.env.XATA_API_KEY });

  const data = await Astro.request.formData();
  const email = data.get("email") as string;
  const password = data.get("password") as string;

  const user = await xata.db.users.filter({ email }).getFirst();

  if (!user) {
    errors.email = "incorrect username";
  } else {
    const authenticated = bcrypt.compareSync(password, user.password);

    if (!authenticated) {
      errors.password = "incorrect password";
    } else {
      Astro.cookies.set("userId", user.id, {
        httpOnly: true,
        secure: true,
      });
      Astro.cookies.set("userName", user.name, {
        httpOnly: true,
        secure: true,
      });
      Astro.cookies.set("userEmail", user.email, {
        httpOnly: true,
        secure: true,
      });

      const redirectPath = Astro.url.searchParams.get("redirect") ?? "/";

      return Astro.redirect(redirectPath, 302);
    }
  }
}
---

<Layout title="Login">
  <Main>
    <H1 text="Login" />
    <form method="POST">
      <label for="email" class="mb-2 block text-teal-900">Email</label>
      <input
        type="email"
        class="border-teal-900 border w-full mb-2 rounded-lg px-6 py-3"
        id="email"
        name="email"
      />
      <p class="text-red-800 mb-10 h-10">{errors.email}</p>
      <label for="password" class="mb-2 block text-teal-900">Password</label>
      <input
        type="password"
        class="border-teal-900 border w-full mb-2 rounded-lg px-6 py-3"
        id="password"
        name="password"
      />
      <p class="text-red-800 mb-10 h-10">{errors.password}</p>
      <button
        type="submit"
        class="text-white text-2xl bg-teal-900 w-full rounded-lg px-6 py-3"
        >Login</button
      >
    </form>
    <p>
      Don't have an account? <a href="/signup" class="text-teal-900 underline"
        >Sign Up</a
      >
    </p>
  </Main>
</Layout>
