---
type Props = {
  page: number;
  numPosts: number;
};

const { page, numPosts } = Astro.props;
const postsPerPage = Number(import.meta.env.POSTS_PER_PAGE);
const hasPreviousPosts = page > 1;
const hasNextPosts = numPosts > page * postsPerPage;
---

<div class="flex justify-between">
  {
    hasPreviousPosts ? (
      <a
        href={`?page=${page - 1}`}
        class="bg-teal-900 text-white py-3 px-6 rounded-xl text-xl"
      >
        Previous
      </a>
    ) : (
      <div />
    )
  }
  {
    hasNextPosts ? (
      <a
        href={`?page=${page + 1}`}
        class="bg-teal-900 text-white py-3 px-6 rounded-xl text-xl"
      >
        Next
      </a>
    ) : (
      <div />
    )
  }
</div>
